<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>

    <title>{{title}}</title>

    <!--[if lt IE 9]>
     <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
   <![endif]-->
  </head>
  <body ng-app="intrn">

    <ui-view></ui-view>

  </body>
</html>
