<!DOCTYPE html>
<html ng-app="intrn">
  <head>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.home.css' />
    <link rel='stylesheet' href='/stylesheets/style.prompt.css' />
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.css" media="screen" title="no title" charset="utf-8">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src='/bower_components/angular-upload/angular-upload.min.js'></script>
    <script type="text/javascript" src="/bower_components/ng-file-upload/ng-file-upload-shim.js"></script>
    <script type="text/javascript" src="/bower_components/ng-file-upload/ng-file-upload.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="/bower_components/moment/moment.js"></script>
    <script type="text/javascript" src="/bower_components/angular-moment/angular-moment.js"></script>

    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/mainController.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/companyController.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/postController.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/postEditController.js"></script>
    <script type="text/javascript" src="/javascripts/factories/factory.js"></script>

    <title>{{title}}</title>
        <!--[if lt IE 9]>
     <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
   <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">intrn.co</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <div class="navbar-form navbar-right" role="search">
            <input type="button" name="name" class="btn btn-default head-btn" value="Company Sign In" onclick="location.href='/auth/google'">
            <a ng-href="/post"><button type="button" class="btn btn-default head-btn">Post an internship</button></a>
          </div>
        </div>
      </div>
    </nav>
    <ui-view></ui-view>

  </body>
</html>
