<div class="container">
  <div class="jumbotron landing">
    <h1 class="Header">Getting an internship at a startup is hard. Here's an easier way.</h1>

    <h3 class="HeaderInfo">Browse available positions, complete a challenge project, recieve feedback, and get hired.</h3>
  </div>

  <div class="row">
    <div class="col-md-7">
      <div ng-repeat="post in postData | filter: roleFilter" class="Post-Body clearfix">
        <div>
          <div class="role" ng-class="{'design': post.role == 'Design', 'growth': post.role == 'Growth', 'businessDev': post.role == 'Business Dev', 'engineering': post.role == 'Engineering'}">
            <span class="oval">
              {{ $index +1}}
            </span>
              {{ post.role }}
            <span ng-click="toggleDetails(post.id)">
              <img src="../images/down_arrow.png" class="arrow" alt="down arrow" ng-hide="view.viewDetails[post.id]" />
              <img src="../images/up_arrow.png" class="arrow" alt="up arrow" ng-show="view.viewDetails[post.id]" />
            </span>
          </div>
          <div class="cardWrapper">
            <div class="postTitle">
              {{ post.title }} at {{ post.industry }} Startup
            </div>
            <div class="postInfo">
              {{ post.location }} &bull;
              {{ post.type }} &bull;
              Posted on {{ post.updated_at | date: 'MMMM d'}} by <a ng-href="{{post.website}}" target="_blank" class="webLink">{{ post.name }}</a> &bull;
              {{ post.views }} Views &bull;
              {{ post.applicants }} Applicants
            </div>
          </div>

          <div class="postDetail" ng-show="view.viewDetails[post.id]">
            <div class="applicants">
              <div class="row">
                <div class="col-md-3">
                  <p class="applicantName">
                    Joe Smith
                  </p>
                </div>
                <div class="col-md-3">
                  <p class="appliedDate">
                    July 3
                  </p>
                </div>
                <div class="col-md-3">
                  <p class="viewApplication">
                    <a href="#">View Application</a>
                  </p>
                </div>
                <div class="col-md-2">
                  <p class="contactApplicant">
                    <a href="#">Contact</a>
                  </p>
                </div>
                <div class="col-md-1">
                  <p class="removeApplicant">
                    X
                  </p>
                </div>
              </div>
            </div>
            <div class="description">
              <h3 class="detailHeader">What you'd do with us</h3>
              <p class="detailContent">
                {{post.description}}
              </p>
            </div>
            <div class="skills">
              <h3 class="detailHeader">What you can probably already do</h3>
              <p class="detailContent">
                {{post.skills}}
              </p>
            </div>
            <div class="bio">
              <h3 class="detailHeader">What you'll get from us</h3>
              <p class="detailContent">
                {{post.bio}}
              </p>
            </div>
            <div class="postButtons row">
              <input type="button" class="removePost-btn form-btn" value="Remove" />
              <p class="expiration">
                Expires on {date}
              </p>
              <span>
                <input type="button" class="editPost-btn form-btn" value="Edit" />
                <input type="button" class="viewChallenge-btn form-btn" value="View Challenge .pdf" />
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="endPost">
        That's all of the postings we have. Every posting is only up for 90 days, so be sure to apply for
        the ones you're qulified for. Otherwise, check back later for more!
      </div>
    </div>

    <div class="col-md-4 col-md-offset-1">

      <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <div class="boxDetail">
            <h3 class="boxNumber">30</h3>
            <p class="boxTitle">
              Total Views
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="boxDetail">
            <h3 class="boxNumber">5</h3>
            <p class="boxTitle">
              Applied
            </p>
          </div>
        </div>

      </div>

      <div class="side-wrap">
        <h3 class="role role-side">Account Settings</h3>
        <input type="button" class="transfer-btn form-btn" value="Transfer Company Account Ownership" />
        <input type="button" class="remove-btn form-btn" value="Remove All Postings" />
      </div>

      <div class="footer">
        <span class="Links">Help</span>
        <span class="Links">Terms</span>
        <span class="Links">Privacy</span>
        <span class="Links">About</span>
      </div>
    </div>
  </div>
</div>

<!-- Apply for Posting -->
<!-- Need to turn this into a similar posting with actual detail -->
<script type="text/ng-template" id="apply.html"
  <div class="lightBox">
    <div class="apply">
      <h1 class="previewHeader">Application for {{view.applyTitle}} at {{view.applyCompanyName}}</h1>
      <form>
        <input type="hidden" value="{{view.applyID}}" name="applyID">
        <div class="row applyRow">
          <div class="col-md-4">
            <label for="firstName">First Name*</label>
            <input type="text" name="firstName" id="firstName" placeholder="Joe" class="form-control" ng-model="view.firstName">
          </div>
          <div class="col-md-4">
            <label for="lastName">Last Name*</label>
            <input type="text" name="lastName" id="lastName" placeholder="Schmoe" class="form-control" ng-model="view.lastName">
          </div>
          <div class="col-md-4">
            <label for="school">School</label>
            <select class="dropDown form-control" ng-model="view.school">
              <option selected value="University of Denver">University of Denver</option>
              <option value="University of Colorado at Denver">University of Colorado at Denver</option>
              <option value="University of Colorado at Boulder">University of Colorado at Boulder</option>
              <option value="Colorado State University">Colorado State University</option>
            </select>
          </div>
        </div>

        <div class="row applyRow">
          <div class="col-md-8">
            <label for="email">Primary Email*</label>
            <input type="text" name="email" id="email" placeholder="joe@schmoe.com" class="form-control" ng-model="view.email">
          </div>
          <div class="col-md-4">
            <label for="phone">Phone Number*</label>
            <input type="text" name="phone" id="phone" placeholder="(303)555-5555" class="form-control" ng-model="view.number">
          </div>
        </div>

        <div class="row lastRow">
          <div class="col-md-4">
            <label for="twitter">Twitter</label>
            <input type="text" name="twitter" id="twitter" placeholder="@joe" class="form-control" ng-model="view.twitter">
          </div>
          <div class="col-md-4">
            <label for="linkedin">LinkedIn</label>
            <input type="text" name="linkedin" id="linkedin" placeholder="joeschmoe" class="form-control" ng-model="view.linkedin">
          </div>
          <div class="col-md-4">
            <label for="github">Github</label>
            <input type="text" name="github" id="github" placeholder="@joe" class="form-control" ng-model="view.github">
          </div>
        </div>

        <div class="uploadApplication">
          <div class="fileContainer">
            <input type="file" name="challengepdf" class="fileUpload" value="" ngf-select ng-model="challengepdf">
            <input type="button" class="uploadButton edit uploadChallenge" value="Upload Challenge *.pdf">
          </div>

          <div class="fileContainer">
            <input type="file" name="resumepdf" class="fileUpload" value="" ngf-select ng-model="resumepdf">
            <input type="button" class="uploadButton edit uploadResume" value="Upload Resume">
          </div>
        </div>

        <div class="form-group">
          <label for="about">
            Say something about yourself!
          </label>
          <textarea name="about" class="form-control" rows="4" placeholder="I love to code 24/7 and I’m on the cycling team." id="about" ng-model="view.about"></textarea>
        </div>

        <p class="termsCond">
          By selecting “Publish” you are confirming that you have read and accepted our
          <a href="#">
            Privacy Policy and Terms of Service.
          </a>
        </p>
        <div class="uploadApplication">
          <input type="button" class="edit uploadButton" value="Maybe Later" ng-click="cancel()">
          <input type="button" class="edit uploadButton apply" value="Apply" ng-click="apply(challengepdf, resumepdf)">
        </div>

      </form>
    </div>
  </div>
</script>
