<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">intrn.co</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <div class="navbar-form navbar-right" role="search">

        <a onclick="location.href='/auth/google';" ng-hide="isLoggedIn">
          <input type="button" name="name" class="btn btn-default head-btn" value="Company Sign In" />
        </a>

        <a ng-href="/company/{{currentUser.company_id}}" ng-show="currentUser.company_id">
          <button type="button" class="btn btn-default head-btn">View my posts</button>
        </a>

        <a ng-href="/post" ng-show="isLoggedIn">
          <button type="button" class="btn btn-default head-btn">Post an internship</button>
        </a>
      </div>
    </div>
  </div>
</nav>
