<div class="container">
  <div class="jumbotron hiring">
    <h1 class="Header">Post a job. Hire amazing students. Expedite excellent work.</h1>

    <h3 class="HeaderInfo">Intrn.co is the best way to reach qualified and motivated students. Get started with a new posting below.</h3>
  </div>

  <form class="addForm" enctype="multipart/form-data">
    <div class="row">
      <div class="col-md-7">
        <div class="clearfix">

          <div class="form-group row">
            <span class="col-md-6">
              <label for="jobTitle">Title of your Job Posting</label>
              <input type="text" name="jobTitle" class="form-control" placeholder="Job Title" id="jobTitle" ng-model="view.jobTitle">
            </span>
            <span class="col-md-6">
              <label for="companyName">Name of your company</label>
              <input type="text" name="companyName" class="form-control" placeholder="Company Name" id="companyName" ng-model="view.companyName">
            </span>
          </div>

          <div class="form-group row">
            <span class="col-md-6">
              <label for="companyName">Name of your company industry</label>
              <input type="text" name="companyIndustry" class="form-control" placeholder="Company Industry" id="companyIndustry" ng-model="view.companyIndustry">
            </span>
            <span class="col-md-6">
              <label for="companyWebsite">Company Website</label>
              <input type="text" name="companyWebsite" class="form-control" placeholder="Company Website" id="companyWebiste" ng-model="view.companyWebsite">
            </span>
          </div>

          <div class="form-group">
            <label for="responsibilities" class="label-space">
              What the candidate will do with you
              <div class="infoTip" ng-show="view.viewInfoTip[0]">
                Describe what the candidate will expect to be doing, their tasks, some of your goals, and anything else that may convince a candidate that their skills are relevant for this role.
              </div>
              <span class="oval pull-right" ng-click="toggleInfoTip(0)" ng-class="{'ovalSelected': view.viewInfoTip[0]}">?</span>
            </label>
            <textarea name="responsibilities" class="control-label col-md-12 form-control" rows="5" placeholder="Candidate Responsibilities" id="responsibilities" ng-model="view.responsibilities"></textarea>
          </div>

          <div class="form-group">
            <label for="requirements" class="label-space">
              What the candidate can probably already do
              <div class="infoTip" ng-show="view.viewInfoTip[1]">
                A short list of skills, languages, programs, and tools the candidate should be partially or completely familiar with in order to jump into this role.
              </div>
              <span class="oval pull-right" ng-click="toggleInfoTip(1)" ng-class="{'ovalSelected': view.viewInfoTip[1]}">?</span>
            </label>
            <textarea name="requirements" class="control-label col-md-12 form-control" rows="3" placeholder="Candidate Requirements" id="requirements" ng-model="view.requirements"></textarea>
          </div>

          <div class="form-group">
            <label for="companyInfo" class="label-space">
              Perks, incentives, and compensation that the candidate can expect
              <div class="infoTip" ng-show="view.viewInfoTip[2]">
                A list of what makes your company an awesome place to work for, whether it’s immediate or long-term.
              </div>
              <span class="oval pull-right" ng-click="toggleInfoTip(2)" ng-class="{'ovalSelected': view.viewInfoTip[2]}">?</span>
            </label>
            <textarea name="companyInfo" class="control-label col-md-12 form-control" rows="4" placeholder="Company Information" id="companyInfo" ng-model="view.companyInfo"></textarea>
          </div>
        </div>


        <div class="endPost">
          Every posting is only up for 90 days, so be sure to make sure the challenges can be completed within that time.
        </div>
      </div>

      <div class="col-md-4 col-md-offset-1">

        <div class="side-wrap">
          <h2 class="search-header">Select Your Filter Criteria</h2>
          <p class="search-detail">
            You may only select one filter in each category
            for each role.
          </p>
        </div>

        <div class="side-wrap">
          <h3 class="role role-side">Roles</h3>
          <div class="row">
            <span ng-click="includeRole('Design')" ng-class="{'selected': view.filters.role == 'Design'}" class="Skillset-Body design">Design</span>
            <span ng-click="includeRole('Engineering')" ng-class="{'selected': view.filters.role == 'Engineering'}" class="Skillset-Body engineering">Engineering</span>
            <span ng-click="includeRole('Business Dev')" ng-class="{'selected': view.filters.role == 'Business Dev'}" class="Skillset-Body businessDev">Business Development</span>
            <span ng-click="includeRole('Growth')" ng-class="{'selected': view.filters.role == 'Growth'}" class="Skillset-Body growth">Growth</span>
          </div>
        </div>

        <div class="side-wrap">
          <h3 class="role role-side">Locations</h3>
          <div class="row">
            <span ng-click="includeLocation('Denver')" ng-class="{'selected': view.filters.location == 'Denver'}" class="Skillset-Body">Denver</span>
            <span ng-click="includeLocation('Boulder')" ng-class="{'selected': view.filters.location == 'Boulder'}" class="Skillset-Body">Boulder</span>
            <span ng-click="includeLocation('Fort Collins')" ng-class="{'selected': view.filters.location == 'Fort Collins'}" class="Skillset-Body">Fort Collins</span>
            <span ng-click="includeLocation('Colorado Springs')" ng-class="{'selected': view.filters.location == 'Colorado Springs'}" class="Skillset-Body">Colorado Springs</span>
          </div>
        </div>

        <div class="side-wrap">
          <h3 class="role role-side">Job Type</h3>
          <div class="row">
            <span ng-click="includeType('Contract')" ng-class="{'selected': view.filters.type == 'Contract'}" class="Skillset-Body">Contract</span>
            <span ng-click="includeType('Part Time')" ng-class="{'selected': view.filters.type == 'Part Time'}" class="Skillset-Body">Part Time</span>
            <span ng-click="includeType('Full Time')" ng-class="{'selected': view.filters.type == 'Full Time'}" class="Skillset-Body">Full Time</span>
            <span ng-click="includeType('Brand Ambassador')" ng-class="{'selected': view.filters.type == 'Brand Ambassador'}" class="Skillset-Body">Brand Ambassador</span>
          </div>
        </div>

        <div>
          <div class="side-wrap">
            <h3 class="role role-side label-space">Upload Challenge
              <div class="infoTip infoTipSide" ng-show="view.viewInfoTip[3]">
                [INSERT URL FOR DIRECTIONS AND SAMPLE]
              </div>
              <span class="oval pull-right" ng-click="toggleInfoTip(3)" ng-class="{'ovalSelected': view.viewInfoTip[3]}">?</span>
            </h3>

            <div class="uploadFileContainer">
              <input type="file" name="uploadpdf" class="challengeUpload" value="" ngf-select ng-model="uploadpdf">
              <input type="button" class="form-btn preview-btn uploadChallenge" value="Upload Challenge *.pdf">
            </div>
          </div>

          <div class="side-wrap">
            <h3 class="role role-side">Finalize Posting
              <div class="infoTip infoTipSide" ng-show="view.viewInfoTip[4]">
                Submit your posting to the job board. Candidates will be able to see and apply for your posting.
              </div>
              <span class="oval pull-right" ng-click="toggleInfoTip(4)" ng-class="{'ovalSelected': view.viewInfoTip[4]}">?</span>
            </h3>
            <input type="button" class="preview-btn form-btn" value="Preview this job posting" ng-click="togglePreview()"/>
            <input type="button" class="status-btn form-btn" value="10 Fields Left to Publish this Job" disabled/>
          </div>
        </div>

        <div class="footer">
          <span class="Links">Help</span>
          <span class="Links">Terms</span>
          <span class="Links">Privacy</span>
          <span class="Links">About</span>
        </div>
      </div>
    </div>
  </form>
</div>

<!-- Preview Posting -->
<div class="lightBox" ng-show="view.viewPreview" ng-click="togglePreview()">
  <form>
    <div class="previewPosting container">
      <h1 class="previewHeader">This is preview of your posting</h1>
      <div class="rolePreview" ng-class="{'design': view.filters.role == 'Design', 'growth': view.filters.role == 'Growth', 'businessDev': view.filters.role == 'Business Dev', 'engineering': view.filters.role == 'Engineering'}">
        {{ view.filters.role }}
      </div>
      <div class="cardWrapper">
        <div class="postTitle">
          {{ view.jobTitle }}
        </div>
        <div class="postInfo">
          {{ view.filters.location }} &bull;
          {{ view.filters.type }} &bull;
          Posted on {{ view.date | date: 'MMMM d'}} by {{ view.companyName }} &bull;
          0 Views &bull;
          0 Applicants
        </div>
      </div>

      <div class="postDetail">
        <div class="description">
          <h3 class="detailHeader">What you'd do with us</h3>
          <p class="detailContent respDesc">
            {{view.responsibilities}}
          </p>
        </div>
        <div class="skills">
          <h3 class="detailHeader">What you can probably already do</h3>
          <p class="detailContent">
            {{view.requirements}}
          </p>
        </div>
        <div class="bio">
          <h3 class="detailHeader">What you'll get from us</h3>
          <p class="detailContent">
            {{view.companyInfo}}
          </p>
        </div>
        <p class="termsCond">
          By selecting “Publish” you are confirming that you have read and accepted our
          <a href="#">
            Privacy Policy and Terms of Service.
          </a>
        </p>
        <div class="previewButtons">
          <input type="button" class="edit" value="Edit">
          <input ng-click="addPost(uploadpdf)" type="button" class="publish" value="Publish">
        </div>
      </div>
    </div>
  </form>
</div>
