body{
  background-color: #f9f9f9;
}

textarea {
  resize: none;
}

label {
  width: 100%;
  color: #737373;
}

input, .form-control {
  border: 1px solid #9b9b9b;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: none;
}

.navbar {
  border-bottom: 0;
}

.navbar-right {
  margin-right: -25px;
}

.jumbotron.landing, .jumbotron.hiring {
  background: url("/images/Landing Background.png") 0 50% no-repeat;
  background-size: cover;
  border-radius: 0;
  box-shadow: none;
  border: 0;
}

.jumbotron.hiring {
  background: url("/images/Hire Background.png") 0 50% no-repeat;
  background-size: cover;
}

.navbar-brand, .navbar-inverse .navbar-brand {
  color: #575757;
  font-weight: bold;
  font-size: 35px;
}

.head-btn {
  border: 0;
  background-color: #9b9b9b;
  color: #fff;
  border-radius: 2px;
  text-transform: inherit;
  letter-spacing: .05em;
  font-family: Assistant;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  top: 2px;
}

.btn a {
  text-decoration: none;
  color: inherit;
}

.Nav-body {
  background-color: #ffffff;
}

.Post-Button-Body {
  border-radius: 2px;
  background-color: #9b9b9b;
  text-align: center;
  font-family: Assistant;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
}

.Bitmap {
  width: 940px;
  height: 297px;
}

.Header, .jumbotron h1, .jumbotron .h1 {
  max-width: 587px;
  margin: 0 auto 24px auto;
  font-family: Assistant;
  font-size: 40px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: #4a4a4a;
}

.HeaderInfo {
  max-width: 420px;
  margin: 0 auto;
  font-family: Assistant;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #4a4a4a;
}

.Post-Body {
  max-width: 100%;
  min-height: 100px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #d4d4d4;
  padding: 15px;
  margin-bottom: 15px;
}

.role {
  line-height: 18px;
  font-family: Assistant;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  position: relative;
}

.role-side {
  font-family: Assistant;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #737373;
  border-bottom: 1px solid lightgray;
  padding-bottom: 10.5px;
}

.arrow{
  position:absolute;
  right: 0px;
  top: 0px;
}

.arrow:hover{
  cursor: pointer;
}

.design{
  color: #e7aa3b;
}

.design.selected {
  background-color: #e7aa3b;
  color: #fff;
}

.Skillset-Body.design {
  border: 1px solid #e7aa3b;
}

.growth {
  color: #19aae5;
}

.growth.selected {
  background-color: #19aae5;
  color: #fff;
}

.Skillset-Body.growth {
  border: 1px solid #19aae5;
}

.businessDev {
  color: #925cc2;
}

.businessDev.selected {
  background-color: #925cc2;
  color: #fff;
}

.Skillset-Body.businessDev {
  border: 1px solid #925cc2;
}

.engineering{
  color: #44d0a5;
}

.engineering.selected {
  background-color: #44d0a5;
  color: #fff;
}

.Skillset-Body.engineering {
  border: 1px solid #44d0a5;
}

.oval{
  display: inline-block;
  border-radius: 100%;
  font-size: 14px;
  height: 20px;
  width: 20px;
  text-align: center;
  border: 1px solid #737373;
}

.design>.oval{
  border: solid 1px #e7aa3b;
}

.growth>.oval{
  border: solid 1px #19aae5;
}

.businessDev>.oval{
  border: solid 1px #925cc2;
}

.engineering>.oval{
  border: solid 1px #44d0a5;
}

.cardWrapper{
  padding-left: 20px;
  padding-right: 20px;
}

.postTitle{
  font-family: Assistant;
  font-size: 27px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  color: #575757;
}

.postInfo{
  font-family: Assistant;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #9b9b9b;
}

.detailHeader{
  font-family: Assistant;
  font-size: 17px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #737373;
}

.postDetail{
  border-top: 1px solid #DCDCDC;
  margin: 15px 20px 0 20px;
}

.detailContent{
  font-family: Assistant;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #575757;
  white-space: pre-line;
  margin-top: -15px;
}

.webLink{
  text-decoration: none;
  cursor: pointer;
  color: #9b9b9b;
}

.webLink:hover{
  color: #575757;
  text-decoration: none;
  font-weight: bold;
}

.applyButtons{
  float:right;
}

.buttons{
  width: 156px;
  height: 30px;
  border-radius: 20px;
  color: white;
  margin-left: 5px;
}

.designButton{
  background-color: #e7aa3b;
  border: solid 1px #e7aa3b;
}

.growthButton{
  background-color: #19aae5;
  border: solid 1px #19aae5;
}

.businessDevButton{
  background-color: #925cc2;
  border: solid 1px #925cc2;
}

.engineeringButton{
  background-color: #44d0a5;
  border: solid 1px #44d0a5;
}

.endPost {
  padding: 15px 50px;
  margin-top: 20px;
  border-top: 1px solid lightgray;
  font-family: Assistant;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #737373;
}

.Options {
  height: 19px;
  font-family: Assistant;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  color: #737373;
}

.Skillset-Body {
  border-radius: 2px;
  background-color: #ffffff;
  text-align: center;
  font-family: Assistant;
  font-size: 13px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  padding: 7px 11px;
  border-radius: 2px;
  margin: 5px 10px;
  float: left;
  border: 1px solid #d4d4d4;
}

.selected {
  background-color: #737373;
  color: #fff;
}

.Skillset-Body:hover {
  cursor: pointer;
}

.Ad {
  height: 215px;
  background-color: #d8d8d8;
  margin: 30px 0;
  width: 100%;
}

.Links {
  font-family: Assistant;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #737373;
  padding: 0 10px;
}

.footer {
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  border-top: 1px solid lightgray;
}

.label-space {
  position: relative;
  margin-top: 15px;
}

.form-btn {
  border-radius: 20px;
  width: 100%;
  padding: 5px 0;
  background-color: transparent;
}

.upload-btn {
  border: 1px solid #925cc2;
  color: #925cc2;
}

.preview-btn {
  border: 1px solid #19aae5;
  color: #19aae5;
}

.status-btn {
  border: 1px solid #9b9b9b;
  color: #9b9b9b;
  margin: 10px 0;
}

.search-header {
  margin: 0;
  font-size: 27px;
  font-family: Assistant;
  font-weight: 600;
  color: #575757;
  text-align: center;
}

.search-detail {
  margin: 20px auto 50px auto;
  width: 300px;
  font-size: 15px;
  font-family: Assistant;
  color: #737373;
  text-align: center;
}

.infoTip{
  background-color: #575757;
  box-shadow: 0 0 4px 0 #575757;
  border-radius: 2px;
  color: #fff;
  padding: 10px;
  position: absolute;
  right: -210px;
  top: 5px;
  z-index: 1;
  width: 200px;
  font-family: Assistant;
  font-size: 13px;
  font-weight: lighter;
  font-style: normal;
  font-stretch: normal;
}

.infoTipSide{
  right: -130px;
  top: 5px;
  width: 120px;
}

.ovalSelected {
  background-color: #575757;
  color: #fff;
}

.lightBox{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.3);
  top: 0;
  left: 0;
  overflow: hidden;
}

.previewPosting{
  background-color: white;
  color: #575757;
  width: 50%;
  margin-left: 25%;
  margin-top: 2%;
  max-height: 600px;
  overflow: scroll;
  z-index: 1;
}

.previewHeader{
  font-family: Assistant;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #737373;
}

.termsCond{
  font-family: Assistant;
  font-size: 12px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #737373;
}

.rolePreview{
  margin-left: 20px;
}

.respDesc{
  white-space: pre-line;
  margin-top: -20px;
}

.termsCond{
  margin: 20px auto;
  width: 60%;
}

.termsCond a{
  font-weight: bold;
}

.edit{
  width: 147px;
  height: 30px;
  border: 1px solid #575757;
  border-radius: 20px;
  color: #575757;
  margin-left: 5px;
}

.publish{
  width: 147px;
  height: 30px;
  border: 1px solid #44d0a5;
  border-radius: 20px;
  color: #44d0a5;
  margin-left: 5px;
}

.previewButtons{
  width: 325px;
  margin: 0 auto 20px auto;
}

.apply {
  padding: 0 25px;
}

.applyRow {
  padding: 10px 0;
}

.lastRow {
  padding-bottom: 20px;
  border-bottom: 1px solid lightgrey;
}

.uploadApplication{
  width: 500px;
  margin: 0 auto;
  padding: 20px 0;
}

.fileContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.fileUpload{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 250px;
}

.uploadFileContainer {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  width: 100%;
}

.challengeUpload{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  width: 100%;
  cursor:pointer;
}


.uploadButton{
  width: 240px;
}

.uploadChallenge{
  border: solid 1px #925cc2;
  color: #925cc2;
}

.uploadResume{
  border: solid 1px #19aae5;
  color: #19aae5;
}

.apply{
  border: solid 1px #44d0a5;
  color: #44d0a5;
}

.transfer-btn {
  border: 1px solid #737373;
  color: #737373;
}

.remove-btn {
  border: 1px solid #d87441;
  color: #d87441;
  margin: 10px 0;
}

.boxDetail{
  height: 75px;
  border-radius: 4px;
  background-color: #ffffff;
  border: solid 1px #9b9b9b;
}

.boxNumber{
  font-family: Assistant;
  font-size: 30px;
  font-weight: 300;
  color: #575757;
  text-align: center;
  font-style: normal;
  margin: 10px 0;
}

.boxTitle{
  font-family: Assistant;
  font-size: 14px;
  font-weight: bold;
  color: #575757;
  text-align: center;
  margin-top: -5px;
}

.applicants {
  margin-top: 15px;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
}

.applicantName{
  font-family: Assistant;
  font-size: 15px;
  font-weight: 800;
  color: #575757;
}

.appliedDate{
  font-family: Assistant;
  font-size: 15px;
  font-weight: normal;
  color: #9b9b9b;
  text-align: left;
}

.viewApplication a, .contactApplicant a{
  font-family: Assistant;
   font-size: 15px;
   font-weight: normal;
   text-align: right;
   color: #737373;
}

.removeApplicant{
  width: 14px;
  height: 14px;
  color: #737373;
}

.removePost-btn{
  width: 81px;
  border-radius: 20px;
  border: solid 1px #d87441;
  color: #d87441
}

.expiration{
  font-family: Assistant;
  font-size: 15px;
  color: #9b9b9b;
  width: 130px;
  margin: 0;
  padding-left: 15px;
}

.editPost-btn{
  width: 60px;
  border-radius: 18px;
  border: solid 1px #925cc2;
  color: #925cc2;
  margin-right: 5px;
}

.viewChallenge-btn{
  width: 156px;
  border-radius: 20px;
  border: solid 1px #737373;
  color: #737373;
}

.removeApplicant:hover {
  cursor: pointer;
}
